{% extends 'base.html.twig' %}

{% block title %}Hello SnapperController!{% endblock %}

{% block body %}
{{ react_component('App',{'rendering':'server_side', 'props':props}) }}
</div>
{% endblock %}
